# SOP Python circleci file

version: 2.1

orbs:
  python: circleci/python@4.0.0

jobs:
  build_and_test:
    executor:
      name: python/default
      tag: '3.10'
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Build
          command: pip3 install ".[dev]"
      - run:
          name: Run tests
          command: python -m pytest pywebpush
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

workflows:
  build_and_test:
    jobs:
      - build_and_test
